* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #11998e, #38ef7d);
    color: white;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: rgba(0,0,0,0.3);
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: yellow;
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 30px;
}

.btn {
    background: white;
    color: #11998e;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* PROFIL */
.profil-container {
    padding: 50px;
    text-align: center;
}

.foto {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid white;
}

/* VIDEO */
.video-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.video-container iframe {
    width: 100%;
    height: 400px;
}

/* FOOTER */
footer {
    margin-top: 50px;
    padding: 30px;
    background: rgba(0,0,0,0.4);
    text-align: center;
}
