body{
    font-family:'Poppins',sans-serif;
    background:#f5f6fa;
}

/* NAVBAR */
.navbar{
    background:#0f172a;
}
.navbar-brand{
    color:#facc15 !important;
    font-weight:bold;
}
.nav-link{
    color:white !important;
}
.btn-login{
    background:#facc15;
    border-radius:20px;
}

/* HERO */
.hero{
    padding:120px 20px;
    text-align:center;
    color:white;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1589927986089-35812388d1f4');
    background-size:cover;
}

/* CARD */
.card-custom{
    border:none;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
    transition:0.3s;
}
.card-custom:hover{
    transform:translateY(-5px);
}

/* SECTION */
.section{
    padding:60px 0;
}

/* VIDEO */
iframe{
    width:100%;
    height:200px;
    border-radius:10px;
}
